{% extends "base.html" %}



{% block content %}
    <h1 class="mb-4  mt-24 text-center font-bold text-2xl" >Maqolalar</h1>
    <div class="maqolalar  w-full flex flex-col items-center gap-8">


{% for maqola in maqolalar %}
    <a href="{% url 'maqola' maqola.id %}" class="flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow-sm md:flex-row md:max-w-3xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
        <img class=" object-cover w-full rounded-t-lg md:rounded-none md:rounded-s-lg w-[150px] h-[150px]" src= "{{maqola.image.url}}" alt="">
        <div class="flex flex-col justify-between p-4 leading-normal">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{{maqola.title}}</h5>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">{{maqola.description }}</p>
        </div>
    </a>
{% empty %}
<p>Sizda hech qanday maqola yoq </p>

{% endfor %}
    




    </div>
{% endblock content %}
